.App {
  text-align: center;
  width: 20%;
  margin: auto;
}
@media screen and (max-width: 1350px){
  .App{
    width: 60%;
  }
}
@media screen and (max-width: 950px){
  .App{
    width: 50%;
  }
}
@media screen and (max-width: 564px){
  .App{
    width: 100%;
  }
 }