.App {
  text-align: center;
  width: 20%;
  margin: auto;
}
@media screen and (max-width: 1350px){
  .App{
    width: 30%;
  }
}
@media screen and (max-width: 950px){
  .App{
    width: 40%;
  }
}
@media screen and (max-width: 768px){
  .App{
    width: 70%;
  }
}
@media screen and (max-width: 500px){
  .App{
    width: 100%;
  }
 }