.header{
    display: flex;
    flex-direction: column;
}
.profile_img{
    border-radius: 5px 5px 0 0;
}
.profile_info{
    text-align: center;
    padding: 10px;
}
.social{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.social > button{
    padding: 10px 25px;
    display: flex;
    align-items: ;
}