.about{
    width: 25%;
    m
    padding: 44px 0;
    color: #fff;
}
.profile_info{
    text-align: center;
    padding: 10px;
}
.social{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.social > button{
    padding: 10px 25px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.social > button > img{
    width: 30px;
}