.about{
    padding: 24px 36px;
    color: #fff;
    background: #1A1B21;
}
.profile_info{
    text-align: center;
}
.profile_info > p{
    color: #F3BF99;
}
.social{
    display: flex;
    justify-content: space-between;
}
.social > button{
    padding: 9px 13px 9px 11px;
    display: flex;
    /* align-items: center; */
    border-radius: 6px;
}
.social > button > img{
    width: 30px;
}
.mail{
    color: #374151;
}
.link{
    color: ;
}
.about_txt{
    display: flex;
    flex-direction: column;
    text-align: left;
}