.about{
    width: 25%;
    margin: auto;
    padding: 24px 36px;
    color: #fff;
    background: #1A1B21;
}
.profile_info{
    text-align: center;
}
.social{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.social > button{
    padding: 10px 25px;
    display: flex;
    align-items: center;
    border-radius: 6px;
}
.social > button > img{
    width: 30px;
}